n8n/local-files/ti_e2e_rag_flow_optimized.json
{
    "nodes": [
        {
            "parameters": {
                "mode": "load",
                "qdrantCollection": {
                    "__rl": true,
                    "value": "questions-collection-combined",
                    "mode": "list",
                    "cachedResultName": "questions-collection-combined"
                },
                "prompt": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
                "options": {
                    "topK": 5,
                    "scoreThreshold": 0.7
                }
            },
            "id": "d3bca28b-8100-427c-98a0-933e3ffcc204",
            "name": "Vector Search",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1,
            "position": [
                -80,
                -140
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "EA2QCuNpb8Oq9nsh",
                    "name": "QdrantApi account"
                }
            }
        },
        {
            "parameters": {
                "model": "nomic-embed-text:latest"
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
            "typeVersion": 1,
            "position": [
                -40,
                80
            ],
            "id": "60ab0611-387a-4042-b973-95771651994c",
            "name": "Embeddings Ollama",
            "credentials": {
                "ollamaApi": {
                    "id": "cl2JLFB580JEHvMM",
                    "name": "Ollama account"
                }
            }
        },
        {
            "parameters": {
                "inputSource": "jsonExample",
                "jsonExample": "{\n  \"chatInput\": \"Human prompt here\",\n  \"backendUrl\": \"localhost:8001\",\n  \"sessionId\": \"123\"\n}"
            },
            "id": "8de4e235-858e-494a-8077-f36a11577a08",
            "name": "When Executed by Another Workflow",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [
                -300,
                -140
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "document.pageContent",
                            "renameField": true,
                            "outputFieldName": "contextContent"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                296,
                -140
            ],
            "id": "81b69071-769e-4d51-8a73-cfa89f7fe3b7",
            "name": "Aggregate Context"
        },
        {
            "parameters": {
                "jsCode": "const inputData = $input.all();\n\n// Optimized URL extraction with better performance\nfunction extractUrls(text) {\n  if (!text) return [];\n  \n  // Use regex for faster URL extraction\n  const urlRegex = /https?:\\/\\/[^\\s]+/g;\n  const urls = text.match(urlRegex) || [];\n  \n  // Remove duplicates and filter valid URLs\n  const uniqueUrls = [...new Set(urls)].filter(url => {\n    try {\n      new URL(url);\n      return url.length < 2048; // Reasonable URL length limit\n    } catch {\n      return false;\n    }\n  });\n  \n  return uniqueUrls.slice(0, 10); // Limit to 10 URLs max\n}\n\nreturn inputData.map(item => {\n  const contentArray = item.json.contextContent || [];\n  const combined = contentArray.join(\" \");\n  const extractedUrls = extractUrls(combined.trim());\n\n  item.json.extractedUrls = extractedUrls;\n  item.json.contextContent = combined; // Keep combined content for processing\n  return item;\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                516,
                -40
            ],
            "id": "8dfb13c1-e063-4106-8bb7-2523b7351a7c",
            "name": "Extract URLs Optimized"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('When Executed by Another Workflow').item.json.backendUrl }}/n8n-webhook",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "sessionId",
                            "value": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
                        },
                        {
                            "name": "status",
                            "value": "Processing context"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                516,
                -240
            ],
            "id": "98ee9402-dc8d-42e1-985f-177d24d3aa3a",
            "name": "Status Update",
            "executeOnce": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "8a50a53a-aa10-4308-9c5c-99db9cffc438",
                            "name": "contextContent",
                            "value": "={{ $('Aggregate Context').item.json.contextContent }}",
                            "type": "string"
                        },
                        {
                            "id": "2967a3fc-3d60-49eb-814c-d8d35f8ad84b",
                            "name": "extractedUrls",
                            "value": "={{ $json.extractedUrls }}",
                            "type": "string"
                        },
                        {
                            "id": "new_field_1",
                            "name": "processedContent",
                            "value": "={{ $('Aggregate Context').item.json.contextContent }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1332,
                60
            ],
            "id": "b64a41df-ed94-4b1a-ad5b-6c58581224d3",
            "name": "Prepare Response"
        }
    ],
    "connections": {
        "Vector Search": {
            "main": [
                [
                    {
                        "node": "Aggregate Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Ollama": {
            "ai_embedding": [
                [
                    {
                        "node": "Vector Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Vector Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Context": {
            "main": [
                [
                    {
                        "node": "Extract URLs Optimized",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Status Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract URLs Optimized": {
            "main": [
                [
                    {
                        "node": "Prepare Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "629e2f1e28578907531b366f8e6d84ed7d1a3ef1380585bfc97cab62cdc33ff9"
    }
}
